# API do Google Gemini (Obtenha em https://aistudio.google.com/)
GEMINI_API_KEY=seu_api_key_aqui

# Configurações do WhatsApp (Se usar Evolution API)
WHATSAPP_INSTANCE_URL=
WHATSAPP_INSTANCE_TOKEN=
WHATSAPP_INSTANCE_NAME=
